.outer-container {
    // height: 25vh;
}

.head-text {
    font-family: Century 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:22px;
    margin: 0;
    font-weight: 300;
}