<div class="row justify-content-center mt-3 p-3 outer-container">
    <div class="col col-lg-3 col-md-3 col-sm-3">
        <p class="head-text mb-3">Quant</p>
        <app-input-value type="Quant"></app-input-value>
    </div>

    <div class="col col-lg-3 col-md-3 col-sm-3">
        <p class="head-text mb-3">Verbal</p>
        <app-input-value type="Verbal"></app-input-value>
    </div>
    <div class="col col-lg-8 col-md-8 col-sm-8 text-center my-4">
        <button class="btn btn-primary">Submit and Refresh</button>
    </div>
</div>
<!-- 
<div class="row justify-content-center outer-container">
    <div class="col col-lg-8 col-md-8 col-sm-8 text-center">
        <button class="btn btn-primary">Submit and Refresh</button>
    </div>
</div> -->